<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆页面</title>
	<!-- 1. 导入vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<!-- 2. 导入css -->
	<link href="https://cdn.bootcss.com/element-ui/2.8.2/theme-chalk/index.css" rel="stylesheet">
	<!-- 3. 引入ElementUI组件 -->
	<script src="https://cdn.bootcss.com/element-ui/2.8.2/index.js"></script>
</head>
<body style="background-image:url(/static/image/labelimgweb/login.jpg); background-size:100% 100%;overflow:hidden">


<div id="app" style="" class="login-box">
	
	<el-form action="/upload_site/showlist/" method="get" enctype="multipart/form-data" name="login">
		<h4 class="login-title" style="margin:-10px 0px 10px 0">登录图像标注平台</h4>
		<el-input type="text" placeholder="请输入用户名" name="user" v-model="user" class="login-user"></el-input>
        <el-input type="password" placeholder="请输入密码" name="pwd" v-model="pwd" class="login-pwd"></el-input>
		<el-button type="primary" value="登陆" class="login-login" @click="upsubmit">登陆</el-button>
	</el-form>
	
	<div>
		<a href="/upload_site/register/" style="text-decoration:none;margin:0px 0px;color:#333;"><small>用户注册</small></a>
	</div>
	<div style="margin:-20px 250px;">
		<a href="/upload_site/retrievepassword/" style="text-decoration:none;margin:0px 0px;color:#333;white-space:nowrap;"><small>忘记密码</small></a>
	</div>

	
</div>

<script>
	var app = new Vue({
		el:"#app",
		data:{
			user:"",
			pwd:""
		},
		methods:{
			upsubmit:function(){
				if(this.user){
					document.login.submit();
				}
				else{
					this.$message.error({
					  showClose: true,
					  message: '请输入用户名',
					  type: 'error',
					  center: true
					  
					});
				}
			}
		}
	})

</script>
</body>
<style>
  .login-box{
    background-color: white;
	width:300px;
	margin:15% 70%;
	border:1px solid #DCDFE6; 
	padding:30px; 
	border-radius:5px; 
	box-shadow: 0 0 30px #DCDFE6;
  }
  .login-user{
	margin:10px 0 5px 0;
  }
  .login-pwd{
	margin:10px 0 5px 0;
  }
  .login-login{
  	width:300px;
	margin:10px 0px;
	
  }
  .login-title{
  	margin:0px 0 0px 0;
    text-align: center;
    font-size:25px
  }


</style>


</html>